ion-content{
    --ion-background-color: linear-gradient(rgb(25, 129, 133),rgb(3, 3, 3),rgb(34, 117, 128));
    h1{
        color: white;
        text-align: center;

    }
    h2{
        color: white;
        text-decoration: underline;
    }
    p{
        color: white;

    }
}