<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" routerLink="/mission" text="mission"></ion-back-button>
    </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
   <div class="blc">
    <h2>Damien dupond</h2>
    <p class="p">charger d'affaire industrie</p>
    <p>dupond.d@hotmail.com</p>
    <p>0612121212</p>
   </div>
 </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title routerLink="/legal">mention legal</ion-title>
  </ion-toolbar>
</ion-footer>
