ion-content{
    --ion-background-color: linear-gradient(rgb(25, 129, 133),rgb(3, 3, 3),rgb(34, 117, 128));
}
ion-header,
ion-footer{
    text-align: center;
}
ion-item{
    color: white;
    font-size: 1.3em;
    text-align: center;
    
    h2{
        font-size: 1.4em;
        font-weight: 500;
        text-transform: uppercase;
    }
}
ion-card{
    width: 90%;
    height: auto;
    --ion-background-color:  #696969;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
   
    position: relative;
    margin: auto;
    margin-top: 40px;
}
@media screen and (min-width:675px){
    ion-card{
       width: 50%;

    }
}
@media screen and (max-width:674px){
    ion-item-options{
      display: none;

    }
}
