<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark" routerLink="/accueil" text="accueil"></ion-back-button>
      </ion-buttons>
    <ion-title>mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div><h2>La chouette agence</h2></div>
  


  <div><p>Transfert de la ligne M430</p></div>
  


  <div><h2>taches</h2></div>
  <ion-card>
    <ion-item lines="none">
      <ion-checkbox color="success" slot="start"></ion-checkbox>
      <ion-label text-wrap>
        <h2>enlevement du banc de transfert </h2>
      </ion-label>
    </ion-item>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title routerLink="/contact" expand="block">Contact</ion-title>
  </ion-toolbar>
</ion-footer>
