ion-content{
    --ion-background-color: linear-gradient(rgb(25, 129, 133),rgb(3, 3, 3),rgb(34, 117, 128));
    padding: 5px;
}

ion-header{
    display: none;
}
.titre{
    color: white;
    text-align: center;
    font-size: 1.4em;
    text-decoration: underline;
}
ion-item{
    --ion-background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
ion-toolbar{
    display: flex;
}
ion-title{
    text-align: center;
   
}
ion-card{
    margin: auto;
    margin-top: 30px;
    --ion-background-color:transparent;
}

ion-label{
    width: 100%;
    h2{
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: -15px;
    }
}

  
.deco{
    --ion-background-color: #eb445a;
    text-transform:initial;
}
@media screen and (min-width:675px){
    ion-card,
    div{
       width: 50%;
       margin: auto;
       text-align: center;

    }
    ion-card{
        margin: auto;
        margin-top: 30px;
        --ion-background-color:transparent;
        img{
            width: 50%;
            
        }
    }
    ion-header{
        display: block;
    }
}
@media screen and (max-width:674px){
    ion-item-options{
        display: none;
    }
}