<ion-header>
 <ion-toolbar>
 <ion-button routerLink="/ajout" expand="block" fill="clear" shape="round">
   Ajouter une mission
 </ion-button>
 </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card>
    <img src="../../assets/COVID-.jpg" alt="covid" class="img">
  </ion-card>
  <h2 class="titre">MISSION</h2>

  <ion-card *ngFor="let mission of (missions | async)">
    <ion-item-sliding>
      <ion-item button lines="none" [routerLink]="['/mission',mission.id]" >
        <ion-label><h2>{{mission.entreprise}}</h2><br/> mission du: {{ mission.date }}
        </ion-label><br/>
       
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash" (click)="supprimerMission(mission)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>

</ion-content>


<ion-footer translucent="true">
  <ion-button (click)="signOut()" fill="clear" shape="round" expand="block" class="deco">
    <ion-icon slot="icon-only" color="danger" name="power"></ion-icon>
  </ion-button>
</ion-footer>
