<ion-header>
 <ion-toolbar>
  <ion-title>accueil</ion-title>
 </ion-toolbar>
 
</ion-header>


<ion-content>
  <ion-card>
    <img src="../../assets/COVID-.jpg" alt="covid" class="img">
  </ion-card>
  <h2 class="titre">MISSION</h2>

  <ion-card>
    <ion-item lines="none" routerLink="/mission">
      <ion-label><h2>titre</h2></ion-label>
    </ion-item>
  </ion-card>

</ion-content>




<ion-footer translucent="true">
  <ion-button (click)="signOut()" fill="clear" shape="round" expand="block" class="deco">
    <ion-icon slot="icon-only" color="danger" name="power"></ion-icon>
   
  </ion-button>
</ion-footer>